# --- Виртуальное окружение и кэш Python ---
.venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.hydra/

# --- Системные файлы операционных систем ---
Thumbs.db
.DS_Store

# --- Локальные медицинские данные (HDF5 и NIfTI) ---
*.h5
*.nii.gz
raw_data/
data/

# --- Логи и папки автоматических запусков Hydra ---
outputs/
multirun/

# --- Настройки сред разработки (IDE) ---
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp